

.titulo-header-cinza {
    font-family: "arial";
    vertical-align: middle;
    text-align: center;
        float: inherit;
       font-size: 21px;
    letter-spacing: 4px;
    text-transform: uppercase;

    background-color: #303133;
   
    border-bottom: 2px solid #fc8f01;
    
    color: #f6f1eb;
    text-align: center;
    padding: 5px 0 6px 16px;
    
    z-index: 10;
}

label{
    font-size: 1em;
    font-weight: bold;  
    color: #000000;
    padding: 10px;
    margin-top: 5px; 
   
}

  legend {
    font-size: 0.8rem;
    font-weight: bold;
  }

fieldset{
    
    border-top: 2px solid #fc8f01;
    border-bottom: 2px solid #fc8f01;
    border-left: 2px solid #fc8f01;
    border-right: 2px solid #fc8f01;

}

#rodape {
    width: 100%;
     position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
}

#rodape label {
     position: absolute;
    
    margin-bottom:0.5rem ; 
    margin-left: 62%;
    bottom: 0;
    left: 0;
    font-size: 20px;
    text-align: right;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 03px;
    
    border-top: 2px solid #fc8f01;
    border-bottom: 2px solid #fc8f01;
    border-left: 2px solid #fc8f01;
    border-right: 2px solid #fc8f01;
  
  }

  .logo{
    color: #fc8f01;
    text-transform: uppercase;

  }

  .logo2{
    color: #fc8f01;
    font-weight: bold;
    
  }


.botao
  {
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fc8f01;
    background-color: #140c00;
    padding: 10px;
    margin-top: 8px;
  }

.botao:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.botao:after {
    content: "";
    background: #fc8f01;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.botao:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



  .rodape{
    border-bottom: 59px solid black;
    
    
  }

  body {
    font-family: arial;
    font-size: 0.8em;
  }

