@font-face {
    font-family: "Arista 2.0 Alternate Light";
    src: url("../../fonts/Arista2_0_Alternate_light.woff");
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}
   
footer, header {
    flex-shrink: 0;
    width: 100%;
}

header {
    background-color: #323435;
    border-top: 1px solid #19578a;
    border-bottom: 2px solid #fc8f01;
    color: #ffff;
    text-align: center;
    padding: 5px 0 6px 16px;
    position: fixed;
    z-index: 10;
}

footer {
    height: 33px;
    color: #fff;
    background-color: #323435;
    font-size: 13px;
    padding: 8px 20px 5px 20px;
    color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}



.titulo-header-cinza {
    font-family: "arial";
    vertical-align: middle;
    text-align: center;
        float: inherit;
    color: rgb(243, 242, 236);
    font-size: 31px;
    letter-spacing: 4px;
    text-transform: uppercase;
   

    
}

.titulo-header-laranja {
    font-family: "Arista 2.0 Alternate Light";
    vertical-align: middle;
    text-align:right;
    float: right;
    color: #F78E1E;
    font-size: 21px;
    margin: 0;
    padding:0;
}


.logoPersonalizado {
    margin-top: 5px;
    width: 142px;
    height: 32px;
    float: left;
}

.imagemFundo{

    float: inherit;
    width: 1110px;
    height: 700px;
    background-image: url("http://www.ceopc.sp.caixa/esteiracomex/atendimento_web/images/plano_fundo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
       
   }    
    
   .tituloTexto{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    }

    .paragrafo{

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:rgb(0, 0, 0);
        font-size: 18px;
        text-align: center;
        position: relative;
   
    }

    .rodape{ 
       
        border-bottom: 10px solid #fc8f01;
        
    }


    .avaliacoes{
        margin-left: 70px;
        margin-top: 5px;
        font-size: 18px;

    }

    .avaliacoes2{
        margin-left: 20px;
        margin-top: 5px;
        font-size: 18px;

    }
    .observacoes{

        float: inherit;
        margin-left: 70px;

        }

    .caixaObs{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:rgb(0, 0, 0);
        font-size: 18px;
        text-align: center;
        border-left: 20px;

    }

 h1
{
    text-align:center;
    text-transform: uppercase;
    opacity: 1;
   
    

}



